* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  padding: 3px;
  margin: 0;
  height: 100%;
  width: 100%;
}

.buttonBar {
  display: none;
}

button {
  padding: 3px;
  margin: 3px;
  cursor: pointer;
}

p {
  margin: 0;
}
